<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <div class="out">
        <h1>recipes data</h1>
        <h2>current recipes</h2>
        <ol>
            <li>
            
            </li>
        </ol>
        <h2>add new recipes</h2>
        <%-include("form")%>
    </div>
</body>
</html>