<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include("navbar")%>
    <h1>
        recipe submit form
    </h1>
    <ul>
        <li>
            <%=obj.recipe_title%>
        </li>
        <li>
            <%=obj.recipe_des%>
        </li>
        <li>
            <img src="<%= obj.recipe_img %>" alt="recipe pic">
            
        </li>
       
    </ul>
</body>
</html>